# Byte-compiled files
__pycache__/
*.py[cod]

# C extension
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Local configuration files
*.local

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version
